fastapi
loguru==0.7.3
passlib
pydantic
pydantic_settings
python_jose
SQLAlchemy
starlette
uvicorn
aiomysql
httpx[http2]
redis
bcrypt
email-validator
pydantic[email]
sqlalchemy
loguru
cryptography
faiss-cpu
numpy